body {
  @apply font-sans font-normal tracking-wide;
}

code {
  @apply font-mono;
}

.slidev-layout {
  gap: 4rem;
}

html.light .visible-light {
  display: block;
}

html.dark .visible-light {
  display: none;
}

html.light .visible-dark {
  display: none;
}

html.dark .visible-dark {
  display: block;
}
